
    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12" ng-if="!showDish">
              <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div class="media">
                    <div class="media-left media-middle">
                       <a >
                        <img class="media-object img-thumbnail"
                        ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <blockquote ng-repeat="comment in dish.comments">
                    <p> {{comment.rating}} stars</p>
                    <p> {{comment.comment}}</p>
                    <footer>
                        <cite>{{comment.author}},{{comment.date|date:medium}}</cite>
                    </footer>
                </blockquote>
            </div>
          <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">     
                     <!--  Live Preview -->
                   <ul class="list-unstyled">
                        <blockquote ng-show="commentForm.$valid">
                            <p>{{myComment.rating}} Stars</p>
                            <p>{{myComment.comment}}</p>
                            <footer>
                                {{myComment.author}},{{myComment.date|date:medium}}
                            </footer>
                        </blockquote>
						
                    </ul>
                     
                <form class="form-horizontal" name="commentForm"ng-submit="submitComment()" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : commentForm.yourName.$error.required && !commentForm.yourName.$pristine }">
                    <div class="col-sm-2">
                         <label for="yourName" class="control-label">Your Name</label>
                    </div>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="yourName" name="yourName" placeholder="Enter Your Name"
                        ng-model="myComment.author" required>
    <span ng-show="commentForm.yourName.$error.required && !commentForm.yourName.$pristine" class="help-block">Your  name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">  
                        <div class="col-sm-2">
                        <label>Number of stars</label>
                        </div>
                    <div class="radio col-sm-10" >
                    <label> <input type="radio" value="1" name="star" ng-model="myComment.rating"/>1</label>
		          <label> <input type="radio" value="2" name="star" ng-model="myComment.rating" />2</label>
		          <label> <input type="radio" value="3" name="star" ng-model="myComment.rating" />3</label>
		          <label> <input type="radio" value="4" name="star"  ng-model="myComment.rating"/>4</label>
                  <label > <input type="radio" value="5" name="star" checked="checked" ng-model="myComment.rating"/>5</label>
                        </div>
                      </div> 
            <div class="form-group" ng-class="{ 'has-error' : commentForm.yourComment.$error.required && !commentForm.yourComment.$pristine }">
                        <label for="yourComment" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="12"
                                ng-model="myComment.comment"id="yourComment" name="yourComment" required>
 
                            </textarea>
<span ng-show="commentForm.yourComment.$error.required && !commentForm.yourComment.$pristine" class="help-block">Your comment is required</span>
                        </div>
                        
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                         
                    </div>
                    
					
                </form>
            </div>
        

    </div>

   